.header {
    padding: 60px;
    background-color: whitesmoke;
    text-align: center;
    color: black;
    font-size: 30px;
  }
  
  .content {padding:20px;
            font-size: 25px;} 
 